.description {
	margin: 75px 2%;

	.photo {
	  	background: url(/assets/me.jpg);
	  	background-size: contain;
		border-radius: 50%;
		float: left;
		height: 300px;
	  	width: 300px;
	}

	p {
    	margin-left: 400px;
    }
}