.description {
	margin: 15px 2%;

	.photo {
	  background: url(/assets/me.jpg);
	  background-size: contain;
		border-radius: 40%;
		float: left;
		height: 200px;
		margin: 25px 25px 15px;
	  width: 200px;
	}

	p {
    font-size: 16px;
    margin: 20px 0 0 20px;
  }
}
