@mixin clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin arrow($degrees) {
  border-right: 0.2em solid $text-light;
  border-top: 0.2em solid $text-light;
  height: 1em;
  left: .95em;
  position: absolute;
  top: .75em;
  transform: rotate($degrees);
  width: 1em;
}
