$white: #fff;
$black: #000;
$text-light: #f7ffea;
$text-dark: #454545;
$brand-primary: #353535;
$brand-primary-light: #545454;
$brand-primary-dark: #222323;
$brand-secondary: #42826c;
$brand-secondary-light: #7bf2ca;
$brand-secondary-dark: #214237;
$brand-other: #bf95e9;

/*Border*/
$teal-line: 2px solid $brand-secondary-light;
$white-line: 2px solid $text-light;
