/*TODO: Trying to be teradic here, but its not working, revisit color palette*/

$brand-white: #fff;
$brand-light: #b6b09e;
$brand-lighter: #fffbec;
$brand-primary: #173c43;
$brand-primary-light: #3e656c;
$brand-primary-dark: #02191d;
$brand-secondary: #2a293e;
$brand-secondary-light: #63627f;
$brand-secondary-dark: #110f2b;
$brand-other: #705c4a;
$brand-other-light: #c6b09a;
$brand-other-dark: #492f17;
$brand-black: #000;
