.project {
  color: $brand-secondary-light;
  margin: 30px 0;
  transition: color .5s;

  img {
    border: $teal-line;
    width: 100%;
  }
}

.project:hover {
  color: $text-light;
}

.area-cover {
  position: absolute;
  
}
